.container {
    margin: 78px 0;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80%;
    margin: 48px  auto;
}

.wrapperImage {
    width: 100%;
    height: 360px;
    
    border-radius: 8px;
}

.wrapperImage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.wrapperInfo {
    display: flex;
    flex-direction: column;
}

.wrapperInfo > h2 {
    font-size: 32px;
    font-weight: 500;
}

.wrapperInfo > p {
    margin: 8px 0 16px;
}

.select {
    /* margin: 16px 0; */
    padding: 8px 16px;
    width: fit-content;

    background-color: #e9d9b7; /* bege semelhante */
    color: #333;

    font-size: 16px;
    font-weight: 500;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 205, 130, 0.6);
}


.header {
    width: 100%;
    padding: 16px;
    background-color: rgb(61, 14, 14);
    display: flex;
    justify-content: end;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
}

.header > .btnBurguer {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;

    color: white;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.wrapperInfoOrcamento {
    width: 100%;
    margin: auto;

    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.wrapperInfoOrcamento > * {
    position: relative;
    z-index: 1;
}



.infoOrcamento {
    width: 90%;
    margin: 24px auto;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.infoOrcamento > .title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    text-align: center;
    color: white;
}

.infoOrcamento > .title > h1 {
    font-size: 56px;
}

.infoOrcamento > .title > p {
    text-transform: uppercase;
    font-size: 24px;
}

.infoOrcamento > .text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.infoOrcamento > .text > h2 {
    color: white;
    font-size: 32px;
}

.infoOrcamento > .text > .orcamento {
    width: 90%;
    margin: auto;

    background-color: rgba(180, 151, 64, 0.562);
    
    border-radius: 16px;
    
    padding: 16px 16px 32px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infoOrcamento > .text > .orcamento > .round {
    padding: 24px;
    
    background-color: rgba(180, 151, 64);
    color: white;
    
    width: 142px;
    height: 142px;
    
    border-radius: 50%;
    
    text-align: center;
    align-content: center;
    
    margin: auto;

    text-transform: uppercase;
}

.infoOrcamento > .text > .orcamento > .round > p > b  {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 24px;
    line-height: .9;
    letter-spacing: -3px;
}

.infoOrcamento > .text > .orcamento > .round > p > b > .price {
    font-size: 64px;
    margin: 0 2px;
}

.infoOrcamento > .text > .orcamento > .textInfo {
    color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    gap: 24px;
    text-align: center;
    font-weight: 600;
}

.infoOrcamento > .text > .policy {
    color: white;
    text-align: center;
    width: 56%;
    margin: auto;
    font-size: 16px;
}

.infoOrcamento > .text > .policy > .linkPrivacyPolicy {
    color: white;
    font-weight: 600;
}

.wrapperInfoInput {
    width: 50%;
    margin: 56px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapperInfoInput > .title {
    color: white;
}

.wrapperInfoInput > .title > h3 {
    font-size: 28px;
}

.wrapperInput {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.field > .input {
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.field > .textarea {
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.wrapperInput > .button {
    padding: 16px;
    border-radius: 24px;
    border: none;
    font-size: 18px;
    background-color: rgba(180, 151, 64);
    color: white;
    font-weight: 600;
    margin: 8px auto;
    width: 90%;
    cursor: pointer;
}

.packages {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 32px auto;
}

.packages > .title {
    margin: auto;
    text-transform: uppercase;
    font-size: 20px;
}

.packages > .wrapperOptions {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
    width: 40%;
}


.packages > .wrapperOptions > button {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: rgba(180, 151, 64);
    text-align: center;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.wrapperFlavor {
    text-transform: uppercase;
    margin: auto;
    font-size: 18px;
}

.wrapperFlavorImages {
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapperFlavorImages > .image > img {
    width: 100%;
    height: 200px;
}

.packages > .description {
    text-align: center;
    font-size: 18px;
    color: #979797;
}

.eventos {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.eventos > *{
    position: relative;
    z-index: 1;
}

.eventos > .info  {
    width: 80%;
    padding: 110px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;

    color: white;
    text-align: center;
}

.eventos > .info > h3 {
    font-size: 32px;
}

.eventos > .info > .wrapperText {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
}

.eventos > .info > .wrapperText > .smallText {
    width: 80%;
    margin: auto;
}


.background {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.425);      
    z-index: 1;
}

.wrapperInfoSaloons {
    margin: 32px;
}

.wrapperInfoSaloons > .title {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.wrapperInfoSaloons > .wrapperImages {
    display: flex;
    flex-direction: column;
    gap: 64px;

    width: 60%;

    margin: 64px auto;
}

.wrapperImages > .imageAndInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;   
}

.wrapperImages > .imageAndInfo > div > img {
    display: block;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    width: 240px;
    height: 240px;

    object-fit: cover;
    object-position: center;
}

.wrapperImages > .imageAndInfo > .title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.wrapperImages > .imageAndInfo > .title > h3 {
    font-size: 28px;
    color: rgba(180, 151, 64);
}

.wrapperImages > .imageAndInfo > .title > p {
    font-size: 20px;
    text-transform: lowercase;
}

.wrapperImages > .imageAndInfo > .description {
    text-align: center;
    color: #979797;
    width: 90%;
    margin: auto;
}

.wrapperDiferencials {
    background-color: rgba(180, 151, 64);
    padding: 56px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    color: white;
    text-align: center;
}

.wrapperDiferencials > .title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapperDiferencials > .title > h2 {
    text-transform: uppercase;
    font-size: 26px;
}

.wrapperDiferencials > .imageAndInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrapperDiferencials > .imageAndInfo > div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid rgba(180, 151, 64, 0.555);
}

.wrapperDiferencials > .imageAndInfo > div > .icon {
    width: 50%;
    height: 50%;
    color: rgba(180, 151, 64);
}

.wrapperDiferencials > .imageAndInfo > p {
    font-size: 24px;
    font-weight: 600;
    width: 50%;
    margin: auto;

}


.aboutUs {
    margin: 32px 0;
}

.aboutUs > .title {
    background-color: rgba(180, 151, 64);
    padding: 48px 0;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 20px;
}

.aboutUs > .wrapperText {
    padding: 64px 0;
    width: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.aboutUs > .wrapperText > p {
    font-size: 18px;
    color: #979797;
    text-align: justify;
}