.container {
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.marginToNavbar {
    margin-top: 78px;
}

.marginTopToHeader {
    margin-top: 134px;
}

.eventos {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.eventos > *{
    position: relative;
    z-index: 1;
}

.eventos > .info  {
    width: 80%;
    padding: 110px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;

    color: white;
    text-align: center;
}

.eventos > .info > h3 {
    font-size: 32px;
}

.eventos > .info > .wrapperText {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
}

.eventos > .info > .wrapperText > .smallText {
    margin: auto;
}


.navBurguer {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    align-items: end;

    gap: 1rem;

    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 3;
}

.backgroudNavBurguer {
    display: flex;
    flex-direction: column;
    align-items: end;


    background-color: rgb(61, 14, 14);

    padding: 1rem;

    gap: 1rem;

    height: 100%;
    width: 50%;
    min-width: 360px;
}


.btnCloseBurguer {
    margin-bottom: 24px;
    color: white;
}

.btnBurguer {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: end;

    gap: 2rem;


    width: 100%;
    max-width: 420px;

    text-align: right;
    margin: 0;
    
    
    font-size: 1.5rem;
}

.list > a {
    color: white;
}

.background {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.425);      
    z-index: 1;
}