.container {
    width: 100vw;
    margin: 78px 0 156px;
}

.wrapperImg {
    width: 100%;
    height: 272px;
    
    overflow: hidden;

    position: relative;
}

.img {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;

}

.backgroundImg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(61, 14, 14, 0.8);
}

.textImg {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: white;

    font-size: 40px;
    font-weight: 600;
    width: max-content;
}

.wrapper {
    width: 80%;
    margin: 96px auto;
}

.wrapper > h2 {
    font-size: 20px;
    font-weight: 500;
}

.wrapper > p {
    font-size: 14px;
    width: 600px;
}

.form {
  max-width: 700px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Poppins", sans-serif;
}

.group {
  display: flex;
  align-items: center;
    width: 100%;
}

.group label {
  margin-bottom: 6px;
  font-size: 0.95rem;
  color: #333;
  width: 30%;
}

.group select {
    background-color: white;
}

.group input,
.group select,
.group textarea {
  padding: 8px 12px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.group select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 205, 130, 0.6);
}

.group input:focus,
.group select:focus,
.group textarea:focus {
  border-color: rgb(180, 151, 64); /* cor semelhante ao botão */
  outline: none;
}

.group textarea {
  min-height: 120px;
  resize: vertical;
}

.wrapperButton {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.wrapperButton > button {
  width: max-content;
  margin-left: 30%;
  background-color: rgb(180, 151, 64);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wrapperButton >  button:hover {
  background-color: rgb(143, 118, 43);
}

.wasValidated input:invalid,
.wasValidated select:invalid,
.wasValidated textarea:invalid {
  border: 1.5px solid #c00; 
}

.errorMessage {
  color: #c00;
  font-size: 0.9rem;
}

.workWithUs > h2 {
    font-size: 20px;
    font-weight: 500;   
}

.workWithUs > div {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.workWithUs > div {
    background-image: linear-gradient(to right, rgb(61, 14, 14), transparent);
}

.workWithUs > div > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.workWithUs > button {
    margin: 16px 0;
 
    background-color: rgb(230, 205, 132);
    border: none;
    border-radius: 6px;
     
    padding: 8px 16px;
    
    font-size: 1rem;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.workWithUs > button:hover {
    background-color: rgb(212, 184, 100);
}